<VirtualHost *:80>
  DocumentRoot "{{ dir_wordpress }}"
  ServerName  "{{ url_wp }}"
  ServerAlias  www."{{ url_wp }}"

  <Directory "{{ dir_wordpress }}">
        Options FollowSymLinks
        AllowOverride Limit Options FileInfo
        DirectoryIndex index.php
        Require all granted
    </Directory>
    <Directory /wp-content>
        Options FollowSymLinks
        Require all granted
    </Directory>
</VirtualHost>